<!doctype html>
<meta charset="UTF-8">
<link href="/static/css/choice.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<html>

    <head>
        <title>使用者介面</title>
        <script src="https://kit.fontawesome.com/947a150fb7.js" crossorigin="anonymous"></script>
    </head>

        <body>
            <header>
                <div class="logo"><img src="/static/images/EZ LOGO.png" height="60" width="60" ></div>
                <div class="logo">ezCAPTCHA</div>
                <div class="group">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <nav class="nav-bar">
                    <ul>
                        <li>
                            <a href="" ></a>
                        </li>
                        <li>
                        <li>
                            <a href="" ></a>
                        </li>
                        <li>
                            <a href="/" >首頁</a>
                        </li>
                        
                        <li>
                            <a href="signup" >註冊</a>
                        </li>
                        <li>
                            <a href="" >關於我們</a>
                        </li>
                        <li>
                            <a href="logout" >登出</a>
                        </li>
                    </ul>
                </nav>
            </header>
        
            <script>
                group = document.querySelector(".group");
                group.onclick = function(){
                    navBar = document.querySelector(".nav-bar");
                    navBar.classList.toggle("active");
                }
            </script>
        <h1>驗證碼題型選擇</h1>
        <div class="hurry">        
          <div class="container">
              <div class="box-container">

              <div class="box">
                <img src="/static/images/01.png" height="200" width="200" alt="">
                <h3>captcha</h3>
                <button class="btn">選擇</button>
              </div>

              <div class="box">
                <img src="/static/images/02.png" height="200" width="200" alt="">
                <h3>recaptcha</h3>
                <button class="btn">選擇</button>
              </div>

              <div class="box">
                <img src="/static/images/03.png" height="200" width="200" alt="">
                <h3>hcaptcha</h3>
                <button class="btn">選擇</button>
              </div>

              <div class="box">
                <img src="/static/images/04.png" height="190" width="190" alt="">
                <h3>amzon</h3>
                <button class="btn">選擇</button>
              </div>

              <div class="box">
                <img src="/static/images/05.png" height="200" width="200" alt="">
                <h3>2captcha</h3>
                <button class="btn">選擇</button>
              </div>

              <div class="box">
                <img src="/static/images/06.png" height="200" width="200" alt="">
                <h3>captcha</h3>
                <button class="btn">選擇</button>
              </div>
              </div>
              <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                        </div>
                        <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">常見問題</a></li>
                            <li><a href="mailto:wilson93su@gmail.com">mailto:wilson93su@gmail.com</a></li>
                        </ul>
                        </div>
                        <div class="footer-col">
                            <div class="shit">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fa-brands fa-facebook" style="color: #005eff;"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram" style="color: #ff5c5c;"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                        </div>
                            </div>
                        <div class="sec ">
                            <h4>評論</h4>
                            <form>
                              <textarea id="comment" placeholder="留下您的評論"></textarea>
                              <button type="submit">提交</button>
                            </form>
                        </div>
            </footer>
            </div>
            <div class="copyright">
            <p>Copyright © 2023 ezcaptcha. All rights reserved.</p>
            </div>
    </body>
</html>
