header{
    background-color: #ffffff;
    width: 100%;/*設定寬度為100%*/
    height: 100px;/*設定高度為300px*/
}

.pagetitle{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 40px;
}
.button{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn1{
    margin: 8px auto;
    flex-shrink: 0;
    width: 360px;
    height: 128px;
    font-size: large;
    background-image: linear-gradient(to right bottom, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #9400d3);
}
.btn2{
    margin: 8px auto;
    flex-shrink: 0;
    width: 360px;
    height: 128px;
    font-size: large;
    background-image: linear-gradient(to top right, #008b8b, #ffff00);
}
.btn3{
    margin: 8px auto;
    flex-shrink: 0;
    width: 360px;
    height: 128px;
    font-size: large;
    background-image: linear-gradient(to bottom right, #008b8b, #ffff00);   
}
.circle{
    border-radius: 64px;

}

body{
    background-color: #aee4ff;
}

header{
    background-color: #aee4ff;
    width: 100%;/*設定寬度為100%*/
    height: 100px;/*設定高度為300px*/
}



