@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
	font-family:'Poppins', sans-serif ;
	margin: auto; padding:auto;
	box-sizing: border-box;
    border:none ;
    outline:none ;
    text-decoration: none;
    text-transform: capitalize;
	transition: .2s linear;
	list-style: none;
}

/* body{
	margin: 0;
    min-height:100vh ;
	background-color: #548ecb;
	background-image: 
	radial-gradient(closest-side, rgba(174, 228, 255, 1),rgba(174, 228, 255, 0)),
	radial-gradient(closest-side, rgba(106, 156, 253, 1),rgba(106, 156, 253, 0)),
	radial-gradient(closest-side, rgb(211, 106, 164),rgba(255, 184, 208, 0)),
	radial-gradient(closest-side, rgb(230, 182, 224),rgba(254, 229, 225, 0)),
	radial-gradient(closest-side, rgba(3, 52, 149, 1),rgba(3, 52, 149, 0)) ;
	
	background-size: 
	130vmax 130vmax,
	80vmax 80vmax,
	90vmax 90vmax,
	110vmax 110vmax,
	90vmax 90vmax ;

	background-position: 
	-30vmax -30vmax,
	-80vmax -80vmax,
	10vmax 10vmax,
	-60vmax -60vmax,
	50vmax 50vmax;

	background-repeat: no-repeat;
}    */

.container .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
	gap:45px 5px;
}

.container .box-container .box{
	box-shadow:0 5px 10px rgba(0,0,0,.2) ;
	margin: 50px 25px 0 25px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	padding:15px 100px ;

}

.box:hover{
	box-shadow: 0 10px 15px rgba(0,0,0,.3);
	transform: scale(1.01 );
}

.btn{
	font-weight: bold	;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 40px;
    color: rgba(106, 156, 253, 1);
    background-color: transparent;
    position: relative;
    transition: all .3s linear;
}
.btn > p{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid rgba(106, 156, 253, 1);
    border-left: 1px solid rgba(106, 156, 253, 1);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}
.btn::after{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(106, 156, 253, 1);
    border-right: 1px solid rgba(106, 156, 253, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s ease;
}
.btn:hover::before,
.btn:hover::after{
    width: 100%;
    height: 100%;
}