<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label for="name">name</label><br>
        <input type="text" name="name" id="name"><br>

        <label for="passwd">password</label><br>
        <input type="password" name="password" id="passwd"><br>

        <label for="passwdCheck">password_check</label><br>
        <input type="password" name="password_check" id="passwdCheck"><br>

        <label for="email">email</label><br>
        <input type="email" name="email" id="email"><br>

        <input type="submit" name="send" value="註冊">
    </form>
</body>
</html>